-- Migrates any [User] rows whose passwordHash column still holds a legacy
-- plaintext password into a proper BCrypt hash.
--
-- Why this exists: AuthService/UserService used to accept plaintext as a
-- fallback and only upgraded a row to BCrypt the next time that account
-- logged in (see AuthService.passwordMatches / upgradeLegacyPassword before
-- this migration). That fallback has now been removed from the app code, so
-- any row still holding plaintext at that point becomes permanently unable
-- to log in. Run this script BEFORE deploying the build that removes the
-- plaintext fallback.
--
-- In T-SQL, '[...]' is a character class and '$' is a literal character
-- (not a wildcard), so this pattern matches real bcrypt hashes:
--   $2a$12$<22-char-salt><31-char-hash>   (60 chars total)
-- WHERE passwordHash NOT LIKE '$2[aby]$__$%' selects every row that does
-- NOT already look like a bcrypt hash, i.e. legacy plaintext rows.
--
-- Section 1 below targets the known seed accounts (ids 0-23, from
-- database/seed_v5.sql and database/seed_azure_DONT_TOUCH.sql), all of
-- which use the seed password "12345". Each row gets its own distinct
-- BCrypt hash (cost 12) of "12345", generated offline with the project's
-- own src/java/manga/common/util/BCrypt.java (bcrypt cannot be computed in
-- T-SQL, and hashing is one-way so the plaintext must be known up front).
-- The NOT LIKE guard makes every UPDATE a no-op if that row has already
-- been migrated (e.g. by a prior run of this script, or because the user
-- already logged in once under the old lazy-upgrade code path).
--
-- Section 2 is a diagnostic query: any row it still returns after Section 1
-- has a plaintext password other than "12345" (e.g. a real user changed
-- their password before this fix, but changePassword always hashed on
-- write - see UserService.changePassword - so this should normally be
-- empty; if not, it usually means a row was inserted or edited directly in
-- the database rather than through the app). Since the value cannot be
-- reversed into a hash, resolve those manually with UserAdminRepository's
-- password-reset path (i.e. force those accounts through "change password"
-- or have an admin reset them) rather than by guessing.

-- Section 1: known seed accounts (password "12345").
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$3C547sw16R8frVY/pPDyNeOhkrBCYw9HzNdn4tcCS87Wd31ciAkjq', updatedAt = GETDATE() WHERE id = 0 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$K8R7SvlWd7w4hmHWxE.BBeyS3MeI.6CKX.NVD6Mm9p9P/6oqdqqe6', updatedAt = GETDATE() WHERE id = 1 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$byBzYMHJLWeF/yVTMDlLf.Q.1cTXGHvHjSaDm1Plq6b/mupmlZV4O', updatedAt = GETDATE() WHERE id = 2 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$7kZQkynu98WtWFjamAhw7eg9N9BRQLP8/prAwCo8/jWkffRFUdIqW', updatedAt = GETDATE() WHERE id = 3 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$aw6KagNs4KvvXZWiL7GTw.K3DeO8GLp6rOvY7opcEaHPoKzK0860.', updatedAt = GETDATE() WHERE id = 4 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$2Nh2CyyQLfQN19vJYDykquFiMEwNA7SZLvN10PftIGgGUqNi5v/7u', updatedAt = GETDATE() WHERE id = 5 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$kldLo.buoiGWzVre2qbAveIuyRr5J1x9ekB8TmQZY0D3K3wGeMWZq', updatedAt = GETDATE() WHERE id = 6 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$UqdMrBxpsmiKPRFmZwxsRebMi82bThjDWelzFxE97SQoXcbdRj8AC', updatedAt = GETDATE() WHERE id = 7 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$MAhTrKvIxS3mwPKhLOtY0erbWtUkSptFj5QNzFz8RyteSxM/iN8E6', updatedAt = GETDATE() WHERE id = 8 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$AvfBxR/vL9MYCgObWMRjKeqhrbVLDb5ezVRr8IZ95xO5kebAF01R.', updatedAt = GETDATE() WHERE id = 9 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$zrSiJu170FAUjwkOAW3C4eMuMIAJ21urFofDkUlu7DW0q9biX8sFS', updatedAt = GETDATE() WHERE id = 10 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$4CJT8GJoGlbz7SZJDIkFWOeusO9CffPpaY721rfAtAs6siACjJkBu', updatedAt = GETDATE() WHERE id = 11 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$bjVyDN6tf/XDehuPqyXv6u5v9DLx0u/gw4pTrLhHsVUyorNHa0yHa', updatedAt = GETDATE() WHERE id = 12 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$At/v.fO1.tFc74wSRY.wQuy9GZUv8JLzfL26I5q1eX4nCDAcV5Tv2', updatedAt = GETDATE() WHERE id = 13 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$7rrcuJFrRfmCVnGN0hR00u4NLi1uzYfMqCYorSLBxmeRba8Cdgltm', updatedAt = GETDATE() WHERE id = 14 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$a.mFlmvvFqGGB77jCs5HbuNRUX0z1Si8iDWKzybxNcHmJ8k4SMpdK', updatedAt = GETDATE() WHERE id = 15 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$Y4h6lMbJffZh8FFAzYthIeQflATMdIcXWcOjZKmu9nOy6MSofxD7i', updatedAt = GETDATE() WHERE id = 16 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$KJkAxX4SW6CIn4wKtJ5AQeTcmOiZL77UPcsjz1yihMjaMJij.VGyW', updatedAt = GETDATE() WHERE id = 17 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$e8a3A/0V91iCZB.fAOVrGOAMsaS6dvGZNwsYPpCV/wlEUqEPXYIuG', updatedAt = GETDATE() WHERE id = 18 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$aqdQoIETU2y24Yc4sYWN8Oz/w.Fk7LxsQGDDIwYhgD7Tq1D7tfzQW', updatedAt = GETDATE() WHERE id = 19 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$7QFI8ggwqd4mCBlOyYqajOsvC1mVAi3/sql4LIpHl2OyK3yi8TFvm', updatedAt = GETDATE() WHERE id = 20 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$/SEj/qdsyg9ji6wGpniCkuegnSRmRXix71JiOg5GjvPJV1eqtoMEG', updatedAt = GETDATE() WHERE id = 21 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$I1OfLmZHBAwdamHdr0xnw.Pdwmh8ynAcHblGUKSyEMjc1H.0vWtT.', updatedAt = GETDATE() WHERE id = 22 AND passwordHash NOT LIKE '$2[aby]$__$%';
UPDATE [dbo].[User] SET passwordHash = N'$2a$12$KM/Ze.M/Jb3YFt/hCA5/OO8WUugfEiZuNjpE8vK09eDv0t648iA8i', updatedAt = GETDATE() WHERE id = 23 AND passwordHash NOT LIKE '$2[aby]$__$%';

-- Section 2: diagnostic - anything still non-hashed after Section 1 has a
-- password other than "12345" and needs a manual reset (see comment above).
SELECT id, username, passwordHash
FROM [dbo].[User]
WHERE passwordHash NOT LIKE '$2[aby]$__$%';
